.n {

    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
    padding: 0PX 13PX;
    margin-top: 3px;
    }
    
    .b1 {
    
        background-color: #F4D03F;
        background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    
    }
    
    
    .b2 {
   
        height: 400px;
    }
    @media(max-width:756px) {
        .b2 {
          padding: 10PX;
          height: 300PX;
        }
    
    }
    @media(max-width:350px) {
        .b2 {
          height: 250PX;
        }
    
    }
    @media(max-width:250px) {
        .b2 {
          height: 180PX;
        }
    
    }
    
    
    
    
    
    .b3 {
    
        background-color: #F4D03F;
        background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
        
        padding: 40px;
        height: 400px;
    
    }
    
    @media(max-width:980px) {
        .b3 {
            padding: 20px;
        }
    
    }
    
    @media(max-width:830px) {
        .b3 {
            padding: 15px;
        }
    
    }
    @media(max-width:768px) {
        .b3 {
            padding:15px;
        }
    
    }
    @media(max-width:709px) {
        .b3 {
            padding:20px;
        }
    
    }
    @media(max-width:469px) {
        .b3 {
            height:600px;
        }
    
    }
    @media(max-width:336px) {
        .b3 {
            height:700px;
        }
    
    }
    @media(max-width:292px) {
        .b3 {
            height:940px;
        }
    
    }
    
    @media(max-width:215px) {
        .b3 {
            height:1100px;
        }
    
    }
    @media(max-width:174px) {
        .b3 {
            height:1250px;
        }
    
    }
    
    
    @media(max-width:160px) {
        .b3 {
            height:1700px;
        }
    
    }
    @media(max-width:114px) {
        .b3 {
            display: none;
        }
    
    }
    
    
    .b4 {
    
        font-size: 35px;
        font-weight: 600;
    
        text-align: center;
    
    }
    
    @media(max-width:980px) {
        .b4 {
            font-size: 25px;
            font-weight: 600;
        }
    }
    
    @media(max-width:783px) {
        .b4 {
            font-size: 18px;
            font-weight: 600;
        }
    }
    
    .b5 {
    
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
    }
    
    
    
    
    .b6 {
    
        font-size: 18px;
        text-align: center;
    }
    
    
    
   
    


    /* card css */

    
    
.y1 {

    height: 500px;
    background-image: url("../image/banner\ 3\ carousel.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
 
    border: 2px solid grey;
 
 
 }
 
 
 
 
 .y2 {
    width: 300px;
    height: 50px;
    margin-left: 25px;
 
 
    box-shadow: 2PX 4PX 8PX black;
 }
 
 
 .y3 {}
 
 
 .y4 {
 
    display: flex;

    justify-content: center;
   
   height: 300px;
 
}
@media(max-width:480px){

   .y4{
   
   height: 400px;
   
   }
   
    }
    @media(max-width:330px){

        .y4{
        
        height: 500px;
        padding: ;
        
        }
        
         }
   
 .y5 {
 
    width: 240px;
    height: 160px;
 
    margin-right: 20px;
 
 }
 @media(max-width:270px){

   .y5{
  
   width: 150px;
   height: 90px;
   
   
   }
   
    }




    .y6{


      font-size:15px ;
      color:rgb(49, 123, 183) ;

      
    }


    
 .y8 {
 
   display: flex;

   justify-content: center;
  padding: 20px;
  height: 300px;
  margin-top: 10px;

}
@media(max-width:500px) {

  .y8{
  
  height: 400px;
  
  
  }
  
   }
   @media(max-width:330px) {

    .y8{
    
    height: 500px;
    
    
    }
    
     }
 
 
 

 
 

 
 
 
 
 
 

 
 
 .y9 {
 
    width: 240px;
    height: 160px;
 
    margin-right: 20px;
 
 }
 
 